
.img {
    width: 100%;
}
.inputView{
    background-color: white;
    line-height: 45px;
}
.imgLo{
    margin-left: 22px;
    width: 20px;
    height: 20px;
}
.labelLo{
    margin: 15px 15px 15px 10px;
    color: gray;
    font-size: 15px;
}
.inputText{
    float: right;
    text-align: right;
    margin-right: 22px;
    margin-top: 11px;
    font-size: 15px;
}
.line{
    width: 100%;
    height: 1px;
    background-color: gainsboro;
    margin-top: 1px;
}
.loginBtn {
    width: 80%;
    margin-top: 35px;
    background-color: rgb(240,176,183);
    color: white;
    border-radius: 98rpx;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
.goToRegist{
    width: 80%;
    margin-top: 15px;
    color: rgb(240,176,183);
    border-radius: 98rpx;
}
